Flask
gunicorn
Werkzeug==2.2.2
azure-search-documents==11.6.0b3
azure-identity
llama-index
llama-index-vector-stores-azureaisearch==0.1.4
llama-index-embeddings-azure-openai==0.1.7
llama-index-readers-remote-depth
llama-index-readers-web
