h1{
    color: white;
    text-align: center;
    font-family: Tahoma;
}

h2{
    color: azure;
    font-family: Impact;
    font-size: 30px;
}
        
body{
    background-color: white;
}

div{
    background-color: blueviolet;
    
}