body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: left;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

.serve-percent input {
    display: inline-block;
    width: calc(100% - 40px);
    margin-right: 5px;
}

.serve-percent span {
    display: inline-block;
    white-space: nowrap; /* Prevent wrapping of the "%" sign */
}
