<!doctype html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="robots" content="noindex, nofollow">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <title>app</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">-->
          <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css1/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css1/main.css') }}">
</head>
<html>
   <body class="page-index rounded" style="overflow-y:hidden;" >
<div class="rounded-3" style="background-color:#a0a7b0 !important; min-height:99vh; margin:3px;border:5px #a0a7b0 solid; border-radius: 4px">
         <header id="header" class="header d-flex align-items-center fixed-top">
           <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

                          <a href="index.html" class="logo d-flex align-items-center">
                            <!-- Uncomment the line below if you also wish to use an image logo -->
                            <!-- <img src="assets/img/logo.png" alt=""> -->
                            <h1 class="d-flex align-items-center">Streaming App</h1>
                          </a>

                          <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
                          <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

                           <nav id="navbar" class="navbar">
                            <ul>
                              <li><a href="#" class="active">Streaming</a></li>
                              <li><a href="{{url_for('upload')}}">Datalake upload</a></li>
                              <li><a href="{{url_for('report')}}">Report</a></li>
                              <li class="dropdown"><a href="#"><span>Options</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                                <ul>
                                  <li><a href="#">Dropdown 1</a></li>
                                  <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                                    <ul>
                                      <li><a href="#">Deep Dropdown 1</a></li>
                                      <li><a href="#">Deep Dropdown 2</a></li>
                                      <li><a href="#">Deep Dropdown 3</a></li>
                                      <li><a href="#">Deep Dropdown 4</a></li>
                                      <li><a href="#">Deep Dropdown 5</a></li>
                                    </ul>
                                  </li>
                                  <li><a href="#">Dropdown 2</a></li>
                                  <li><a href="#">Dropdown 3</a></li>
                                  <li><a href="#">Dropdown 4</a></li>
                                </ul>
                              </li>
                              <li><a href="#">Contact</a></li>
                            </ul>
                           </nav><!-- .navbar -->

            </div>
         </header><!-- End Header -->

         <section id="hero" class="hero d-flex " style="background:none">
                <div class="container" >
                  <div class="row">
                    <div class="col-xl-6">
                      <h5 data-aos="fade-up">Demo for Service Request Creation</h5>
                      <blockquote data-aos="fade-up" data-aos-delay="100">
                        <p>This is a web application built using Python and Flask. It ingests data into Azure Data Lake and streams it to a live Power BI dashboard</p>
                      </blockquote>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-4">
                                <form method="post" action="{{url_for('hello')}}">
                                         <div class="form-group">
                                            <label for="formGroupExampleInput"></label>
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                                          </div>
                                          <div class="form-group">
                                            <label for="formGroupExampleInput2"></label>
                                            <input type="text" class="form-control" id="model" name="value" placeholder="Model">
                                          </div>

                                </form>
                                <button type="submit" class="btn btn-primary" style="margin-top:20px" id="button">Place Appointment</button>
                    </div>

                </div>
                </div>
</section>
     </div>
   </body>
</html>