{% extends 'base.html' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Página Principal</title>

<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">


<!-- Favicons -->



<style>
  .formulario {
    width: 400px;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    background-color: white;
    font-family: Arial;
  }
</style>


<!-- Custom styles for this template -->
<link href="signin.css" rel="stylesheet">
</head>

<body class="text-center">


  <form class="user" action="/validarlogin" method="post">
    <img class="mb-4" src="/static/img/logo-Universidad-Nacional.png" alt="logo_universidad" width="200" height="100">
    <h1 class="h1 mb-3 fw-normal">Iniciar Sesión</h1> 
    <!--<h6 class="mb-3 fw-normal">Inicia sesión para continuar</h6> -->


    <div class="formulario form-group">
      <label for="floatingInput">CORREO ELECTRÓNICO</label>
      <input type="email" class="form-control form-control-user" name="username" aria-describedby="emailHelp" 
      placeholder="name@unal.edu.co">
      <br>

      <label for="floatingPassword">CLAVE</label>
      <input type="password" class="form-control form-control-user" id="exampleInputPassword"
      name="password" placeholder="Contraseña">
    </div>
    
    </div>
    <!--<button class="w-30 btn btn-lg btn-dark type=submit">Iniciar sesión</button> -->
    <button class="w-30 btn-lg btn-dark" id="alertas" type="submit">Iniciar sesión</button>
    <div>
      <br>
      <a href="{{ url_for('recordar_clave') }}" class="link-dark">¿Has olvidado la contraseña?</a>
      <br>
      <br>
      <div class="text-center">
        <a class="medium" href="{{ url_for('registro') }}">Registrarse</a>
      </div>
      
      {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}

      <div class="alert alert-dismissible alert-info">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">Ingreso al sistema</h4>
        <p class="mb-0">{{message}}</a>.</p>
      </div>

      {% endfor %}
      {% endif %}
      {% endwith %}

  </form>



{% endblock %}