{% extends 'serve_form_base.html' %}

{% block first_part %}
    {% if serves|length < 1 %}
    <h4 style="text-align: center">You haven't practiced serves yet. Do it now!</h4>
    {% else %}
    {% set days_since_last_serve = (now.date() - serves[0].date.date()).days %}
    <h4 style="text-align: center; color: {% if days_since_last_serve < 3 %}green{% elif days_since_last_serve < 6 %}black{% else %}red{% endif %};">
        <p>It has been {{ days_since_last_serve }} days since last practice.</p>
        {% if days_since_last_serve < 3 %}
        <p>Good job! You have worked hard!</p>
        {% elif days_since_last_serve < 6 %}
        <p>Be ready for the next practice</p>
        {% else %}
        <p>It has been a week you haven't practiced serves, do it now!</p>
        {% endif %}
    </h4>
    {% endif %}
{% endblock %}

{% block form_action %}/serve{% endblock %}

{% block form_date %}{% endblock %}
{% block form_first_serve_in %}{% endblock %}
{% block form_first_serve_out %}{% endblock %}
{% block form_first_serve_in_percent %}{% endblock %}
{% block form_second_serve_in %}{% endblock %}
{% block form_second_serve_out %}{% endblock %}
{% block form_second_serve_in_percent %}{% endblock %}
{% block form_total_serve_in %}{% endblock %}
{% block form_total_serve_out %}{% endblock %}
{% block form_total_serve_percent %}{% endblock %}
{% block form_total_serve %}{% endblock %}
{% block form_duration %}{% endblock %}
{% block form_location %}{% endblock %}
{% block form_comment %}{% endblock %}

{% block bottom_part %}
    <div class="content" style="margin-top: 30px;">
        {% if serves|length >= 1 %}
        <p>Total Serves: {{ serve_analysis.total_serves }}</p>
        <p>Serves per week: {{ serve_analysis.average_serves_per_week }}</p>
        <p>Total Practice: {{ serve_analysis.total_records }}</p>
        <p>Practice per week: {{ serve_analysis.average_records_per_week }}</p>
        <p>Total Duration (minutes): {{ serve_analysis.total_duration }}</p>
        <p>Duration per week (minutes): {{ serve_analysis.average_duration_per_week }}</p>
        <p>Started: {{ serve_analysis.time_since_first_entry }}</p>

        <script>
            function confirmDelete(serveId, u) {
                var result = confirm("Are you sure you want to delete this entry?");
                if (result) {
                    window.location.href = "/serve/delete/" + serveId + "?u=" + u;
                }
            }
        </script>
        <table>
            <tr>
                <th>Date</th>
                <th>Serves</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
            {% for serve in serves %}
                <tr>
                    <td>{{ serve.date.date() }}</td>
                    <td>{{ serve.total_serve }}</td>
                    <td>{{ serve.location }}</td>
                    <td>
                        <a href="/serve/update/{{serve.id}}?u={{ u }}" style="margin-left: 10px; margin-right: 20px;">U</a>
                        <a href="#" onclick="confirmDelete('{{ serve.id }}', '{{ u }}')">D</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div style="margin-left: 10px; margin-top: 20px;">
            <a href="/serve/analysis?u={{ u }}">Analysis</a>
        </div>
        {% endif %}
    </div>

{% endblock %}
