{% extends 'serve_base.html' %}

{% block head %}
<title>{{ user_name }}'s Serve Practice</title>
{% endblock %}

{% block body %}
<div class="content">
    <p style="display: none;">User ID: {{ u }}</p>
    
    {% block first_part %}
    {% endblock %}

    <div class="form">
        <form action="{% block form_action %}{% endblock %}?u={{ u }}" method="POST">
            <table>
                <tr>
                    <td>Date:</td>
                    <td><input type="text" name="date" id="date" value="{% block form_date %}{% endblock %}"></td>
                </tr>
                <tr>
                    <td class="user_input">First Serve In:</td>
                    <td><input type="text" name="first_serve_in" id="first_serve_in" value="{% block form_first_serve_in %}{% endblock %}" inputmode="numeric"></td>
                </tr>
                <tr>
                    <td class="user_input">First Serve Out:</td>
                    <td><input type="text" name="first_serve_out" id="first_serve_out" value="{% block form_first_serve_out %}{% endblock %}" inputmode="numeric"></td>
                </tr>
                <tr>
                    <td>First Serve Percent:</td>
                    <td class="serve-percent"><input type="text" name="first_serve_in_percent" id="first_serve_in_percent" value="{% block form_first_serve_in_percent %}{% endblock %}" inputmode="numeric"><span>%</span></td>
                </tr>
                <tr>
                    <td class="user_input">Second Serve In:</td>
                    <td><input type="text" name="second_serve_in" id="second_serve_in" value="{% block form_second_serve_in %}{% endblock %}" inputmode="numeric"></td>
                </tr>
                <tr>
                    <td class="user_input">Second Serve Out:</td>
                    <td><input type="text" name="second_serve_out" id="second_serve_out" value="{% block form_second_serve_out %}{% endblock %}" inputmode="numeric"></td>
                </tr>
                <tr>
                    <td>Second Serve Percent:</td>
                    <td class="serve-percent"><input type="text" name="second_serve_in_percent" id="second_serve_in_percent" value="{% block form_second_serve_in_percent %}{% endblock %}" inputmode="numeric"><span>%</span></td>
                </tr>
                <tr>
                    <td class="user_input">Total Serve In:</td>
                    <td><input type="text" name="total_serve_in" id="total_serve_in" value="{% block form_total_serve_in %}{% endblock %}" inputmode="numeric"></td>
                </tr>
                <tr>
                    <td class="user_input">Total Serve Out:</td>
                    <td><input type="text" name="total_serve_out" id="total_serve_out" value="{% block form_total_serve_out %}{% endblock %}" inputmode="numeric"></td>
                </tr>
                <tr>
                    <td>Total Serve Percent:</td>
                    <td class="serve-percent"><input type="text" name="total_serve_percent" id="total_serve_percent" value="{% block form_total_serve_percent %}{% endblock %}" inputmode="numeric"><span>%</span></td>
                </tr>
                <tr>
                    <td class="user_input">Total Serve:</td>
                    <td><input type="text" name="total_serve" id="total_serve" value="{% block form_total_serve %}{% endblock %}" inputmode="numeric"></td>
                </tr>
                <tr>
                    <td class="user_input">Duration in minutes:</td>
                    <td><input type="text" name="duration" id="duration" value="{% block form_duration %}{% endblock %}" inputmode="numeric"></td>
                </tr>
                <tr>
                    <td class="user_input">Location:</td>
                    <td><input type="text" name="location" id="location" value="{% block form_location %}{% endblock %}"></td>
                </tr>
                <tr>
                    <td class="user_input">Comment:</td>
                    <td><input type="text" name="comment" id="comment" value="{% block form_comment %}{% endblock %}"></td>
                </tr>
            </table>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<script>
    // Get today's date
    var today = new Date();
    
    // Format the date as YYYY-MM-DD
    var formattedDate = today.getFullYear() + '-' + (today.getMonth() + 1).toString().padStart(2, '0') + '-' + today.getDate().toString().padStart(2, '0');
    
    // Set the value of the input field with today's date
    document.getElementById('date').value = formattedDate;

    // Function to calculate the first serve percentage
    function calculateFirstServePercentage() {
        var firstServeIn = parseFloat(document.getElementById('first_serve_in').value);
        var firstServeOut = parseFloat(document.getElementById('first_serve_out').value);
        
        // Check if inputs are valid numbers
        if (!isNaN(firstServeIn) && !isNaN(firstServeOut) && (firstServeIn + firstServeOut !== 0)) {
            // Calculate the percentage and round it to the nearest integer
            var percentage = Math.round((firstServeIn / (firstServeIn + firstServeOut)) * 100);
            // Update the span with the calculated percentage
            document.getElementById('first_serve_in_percent').value = percentage;
        } else {
            // If inputs are not valid, display an empty percentage
            document.getElementById('first_serve_in_percent').value = "";
        }

        calculateTotalServe();
    }

    // Add event listeners to the input fields
    document.getElementById('first_serve_in').addEventListener('input', calculateFirstServePercentage);
    document.getElementById('first_serve_out').addEventListener('input', calculateFirstServePercentage);

    // Initial calculation when the page loads
    calculateFirstServePercentage();

    function calculateSecondServePercentage() {
        var secondServeIn = parseFloat(document.getElementById('second_serve_in').value);
        var secondServeOut = parseFloat(document.getElementById('second_serve_out').value);
        
        // Check if inputs are valid numbers
        if (!isNaN(secondServeIn) && !isNaN(secondServeOut) && (secondServeIn + secondServeOut !== 0)) {
            // Calculate the percentage and round it to the nearest integer
            var percentage = Math.round((secondServeIn / (secondServeIn + secondServeOut)) * 100);
            // Update the span with the calculated percentage
            document.getElementById('second_serve_in_percent').value = percentage;
        } else {
            // If inputs are not valid, display an empty percentage
            document.getElementById('second_serve_in_percent').value = "";
        }

        calculateTotalServe();
    }

    // Add event listeners to the input fields
    document.getElementById('second_serve_in').addEventListener('input', calculateSecondServePercentage);
    document.getElementById('second_serve_out').addEventListener('input', calculateSecondServePercentage);

    // Initial calculation when the page loads
    calculateSecondServePercentage();

    // Function to calculate total serve statistics
    function calculateTotalServe() {
        var firstServeIn = parseFloat(document.getElementById('first_serve_in').value);
        var firstServeOut = parseFloat(document.getElementById('first_serve_out').value);
        var secondServeIn = parseFloat(document.getElementById('second_serve_in').value);
        var secondServeOut = parseFloat(document.getElementById('second_serve_out').value);
        
        var totalServeInValue = parseFloat(document.getElementById('total_serve_in').value);
        var totalServeOutValue = parseFloat(document.getElementById('total_serve_out').value);

        // Calculate total serve in and update the input field
        var totalServeIn = (isNaN(firstServeIn) ? 0 : firstServeIn) + (isNaN(secondServeIn) ? 0 : secondServeIn);
        if (totalServeIn > 0) {
            document.getElementById('total_serve_in').value = totalServeIn;
        } else {
            totalServeIn = totalServeInValue;
        }
        
        // Calculate total serve out and update the input field
        var totalServeOut = (isNaN(firstServeOut) ? 0 : firstServeOut) + (isNaN(secondServeOut) ? 0 : secondServeOut);
        if (totalServeOut > 0) {
            document.getElementById('total_serve_out').value = totalServeOut;
        } else {
            totalServeOut = totalServeOutValue;
        }
        
        // Calculate total serve
        var totalServe = totalServeIn + totalServeOut;
        if (totalServe > 0) {
            document.getElementById('total_serve').value = totalServe;
        }

        // Check if inputs are valid numbers
        if (!isNaN(totalServeIn) && !isNaN(totalServeOut) && (totalServeIn + totalServeOut !== 0)) {
            // Calculate the percentage and round it to the nearest integer
            var percentage = Math.round((totalServeIn / (totalServeIn + totalServeOut)) * 100);
            // Update the span with the calculated percentage
            document.getElementById('total_serve_percent').value = percentage;
        } else {
            // If inputs are not valid, display an empty percentage
            document.getElementById('total_serve_percent').value = "";
        }
    }

    // Add event listeners to the input fields
    document.getElementById('total_serve_in').addEventListener('input', calculateTotalServe);
    document.getElementById('total_serve_out').addEventListener('input', calculateTotalServe);
</script>

{% endblock %}