{% extends 'serve_base.html' %}

{% block head %}
<title>{{ user_name }}'s Serve Practice Diagram</title>
{% endblock %}

{% block body %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<div class="content">
    <h4 style="text-align: center;">Total Serve</h4>
    <div id="chart"></div>
    <h4 style="text-align: center;">Percentage</h4>
    <div id="chart2"></div>
    <h4 style="text-align: center;">Weekly Serves</h4>
    <div id="chart3"></div>
    <h4 style="text-align: center;">Weekly Practice</h4>
    <div id="chart4"></div>
    <h4 style="text-align: center;">Weekly Duration</h4>
    <div id="chart5"></div>
</div>

<script>
var options = {
  chart: {
    type: 'bar'
  },
  series: [{
    name: 'Total',
    data: [{% for serve in serves %}{{ serve.total_serve }}{% if not loop.last %}, {% endif %}{% endfor %}]
  }],
  xaxis: {
    categories: [{% for serve in serves %}"{{ serve.date.strftime('%Y-%m-%d') }}"{% if not loop.last %}, {% endif %}{% endfor %}]
  }
}
var chart = new ApexCharts(document.querySelector("#chart"), options);
chart.render();

var options2 = {
  chart: {
    type: 'line'
  },
  series: [{
    name: 'Total',
    data: [{% for serve in serves %}{{ serve.total_serve_percent|default(0) }}{% if not loop.last %}, {% endif %}{% endfor %}]
  },{
    name: 'First',
    data: [{% for serve in serves %}{{ serve.first_serve_in_percent|default(0) }}{% if not loop.last %}, {% endif %}{% endfor %}]
  },{
    name: 'Second',
    data: [{% for serve in serves %}{{ serve.second_serve_in_percent|default(0) }}{% if not loop.last %}, {% endif %}{% endfor %}]
  }],
  xaxis: {
    categories: [{% for serve in serves %}"{{ serve.date.strftime('%Y-%m-%d') }}"{% if not loop.last %}, {% endif %}{% endfor %}]
  }
}
var chart2 = new ApexCharts(document.querySelector("#chart2"), options2);
chart2.render();

var options3 = {
  chart: {
    type: 'bar'
  },
  series: [{
    name: 'Weekly serve',
    data: [{% for item in weekly_stats %}{{ item.total_serves }}{% if not loop.last %}, {% endif %}{% endfor %}]
  }],
  xaxis: {
    categories: [{% for item in weekly_stats %}"{{ item.start_date.strftime('%Y-%m-%d') }}"{% if not loop.last %}, {% endif %}{% endfor %}]
  }
}
var chart3 = new ApexCharts(document.querySelector("#chart3"), options3);
chart3.render();

var options4 = {
  chart: {
    type: 'bar'
  },
  series: [{
    name: 'Weekly serve',
    data: [{% for item in weekly_stats %}{{ item.total_records }}{% if not loop.last %}, {% endif %}{% endfor %}]
  }],
  xaxis: {
    categories: [{% for item in weekly_stats %}"{{ item.start_date.strftime('%Y-%m-%d') }}"{% if not loop.last %}, {% endif %}{% endfor %}]
  }
}
var chart4 = new ApexCharts(document.querySelector("#chart4"), options4);
chart4.render();

var options5 = {
  chart: {
    type: 'bar'
  },
  series: [{
    name: 'Weekly serve',
    data: [{% for item in weekly_stats %}{{ item.total_duration }}{% if not loop.last %}, {% endif %}{% endfor %}]
  }],
  xaxis: {
    categories: [{% for item in weekly_stats %}"{{ item.start_date.strftime('%Y-%m-%d') }}"{% if not loop.last %}, {% endif %}{% endfor %}]
  }
}
var chart5 = new ApexCharts(document.querySelector("#chart5"), options5);
chart5.render();

</script>
{% endblock %}