{% extends 'serve_form_base.html' %}

{% block first_part %}
    {% if serves|length < 1 %}
    <h4 style="text-align: center">You haven't practiced serves yet. Do it now!</h4>
    {% else %}
    <table>
        <tr>
            <th>Date</th>
            <th>Serves</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
        {% for serve in serves %}
            <tr>
                <td>{{ serve.date.date() }}</td>
                <td>{{ serve.total_serve }}</td>
                <td>{{ serve.location }}</td>
                <td>
                    <a href="/serve/delete/{{serve.id}}?u={{ u }}">Delete</a>
                    <br>
                    <a href="/serve/update/{{serve.id}}?u={{ u }}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}

{% block form_action %}/serve{% endblock %}

{% block form_date %}{% endblock %}
{% block form_first_serve_in %}{% endblock %}
{% block form_first_serve_out %}{% endblock %}
{% block form_first_serve_in_percent %}{% endblock %}
{% block form_second_serve_in %}{% endblock %}
{% block form_second_serve_out %}{% endblock %}
{% block form_second_serve_in_percent %}{% endblock %}
{% block form_total_serve_in %}{% endblock %}
{% block form_total_serve_out %}{% endblock %}
{% block form_total_serve_percent %}{% endblock %}
{% block form_total_serve %}{% endblock %}
{% block form_duration %}{% endblock %}
{% block form_location %}{% endblock %}
{% block form_comment %}{% endblock %}
