<!doctype html>

<head>
    <title>Update</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <style>
        .login-container {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<html>

<div class="card-header text-white" style="background-color:rgb(27, 27, 27);">
    <div class="topnav">
        <a class="form-label fw-bold text-white" width="100" height="100"
            style="margin-left:50px; margin-right:20px; text-decoration: none; font-size: 17px;" href="/">Home</a>
        <a class="form-label fw-bold text-white" width="100" height="100"
            style="margin-left:30px; margin-right:20px; text-decoration: none; font-size: 17px;" href="mips">Mip
            List</a>
    </div>
</div>


<body>
    <main class="login-container">
        <form method="post" action="{{url_for('index')}}">

            <div class="card shadow-lg mb-4">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Engineering Dashboard</h3>
                </div>
                <div class="card-body">
                    <h1 class="display-4">Update, {{ engineer[1] }}!</h1>
                </div>
            </div>

            <div class="col-md-6 mx-auto text-center">
                <label for="engineerID" class="form-label fw-bold fs-5">Engineer ID</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" required class="form-control" id="engineerUpdateID" name="engineerUpdateID"
                        style="max-width: 256px;">
                </div>
                <label for="engineerID" class="form-label fw-bold fs-5">Engineer Name</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" required class="form-control" id="engineerNameUpdate" name="engineerNameUpdate"
                        style="max-width: 256px;">
                </div>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                    <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Update</button>
                </div>
            </div>
        </form>

    </main>
</body>

</html>